<!DOCTYPE html>
<html lang="en">
  <head>
    {% if orgtype=="Profit Making" %}
      <title>{% trans %}GNUKhata{% endtrans %} | {% trans %}Profit & Loss{% endtrans %}</title>
    {% else %}
      <title>{% trans %}GNUKhata{% endtrans %} | {% trans %}Income & Expenditure{% endtrans %}</title>
    {% endif %}

    <style type="text/css">
     .shadow {
	 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
     }
     #incometbl td,#expensetbl td {
	 font-size: 75%;
	 padding: 4 !important;
	 margin: 4 !important;
     }
     #incometbl th,#expensetbl th {
	 font-size: 85%;
     }

     .card-view .title {
	 font-weight: bold;
	 display: inline-block;
	 min-width: 30%;
	 text-align: left !important;
     }
     .fixed-table tbody {
	 display:block;
	 height: calc(62vh);
	 overflow-y:scroll;
     }
     .fixed-table thead,.fixed-table tbody tr  {
	 display:table;
	 width:100%;
	 table-layout:fixed;
     }
     .fixed-table thead {
	 width: calc( 100% - 0.8em );
     }
     .fixed-table tfoot tr {
	 display:table;
	 width: calc( 100% - 0.8em );
	 table-layout:fixed;
	 height:26px !important;
     }
     tfoot tr {
	 height:26px !important;
     }
     .nopadding{
	 padding:0 !important;
     }
     .ralign{
	 text-align:right;

     }
     .cred{
	 color:red;
     }
     .calign{
	 text-align:center;
     }
     .row {
	 margin-top: 5px;
     }
     .table {
	 margin-bottom:15px;
     }
     td.subgrouptd{
	 font-weight:normal !important;
     }
     td.accounttd {
	 font-weight:normal !important;
	 font-style:italic !important;
     }
	 #exptableouterdiv,#inctableouterdiv{
       overflow-x:auto;
       overflow-y:auto;
   }
   #expensetbl, #incometbl {
       min-width: 600;
       min-height: 600;
   }
   .btn {
       margin-bottom:5px !important;
       margin-left:5px !important;
   }
    </style>
  </head>
  <body>
    <div class="col-md-9 nopadding">
      {% if orgtype=="Profit Making" %}
	<input type="hidden" id="headingprofit" value="Profit & Loss">
	<span class="hidden-print" style="margin:auto; display:table; text-align: center;"><strong>{% trans %}Profit & Loss Account{% endtrans %}</strong> {% trans %}for the period{% endtrans %} <strong>{{from}}</strong> {% trans %}to{% endtrans %} <strong>{{to}}</strong></span>
      {% else %}
	<input type="hidden" id="headingprofit" value="Income & Expenditure Account">
	<span class="hidden-print" style="margin:auto; display:table; text-align: center;"><strong>{% trans %}Income & Expenditure Account{% endtrans %}</strong> {% trans %}for the period{% endtrans %} <strong>{{from}}</strong> {% trans %}to{% endtrans %} <strong>{{to}}</strong></span>
      {% endif %}
    </div>
    <div class="col-md-3 float-right input-group input-group-sm" style="margin-bottom:2px;">
      <span class="input-group-addon glyphicon glyphicon-search" id="reportsearchspan">
      </span>
      <input id="reportsearch" class="form-control" type="text" accesskey="s" placeholder="{% trans %}Quick Search{% endtrans %}"/>
      <span class="input-group-addon glyphicon glyphicon-arrow-left" id="reportclearsearchspan" style="display:none;">
      </span>
    </div>
    <div class="row">
      <div class="table-responsive col-xs-6 nopadding" id="exptableouterdiv">
	<table id="expensetbl" class="shadow fixed-table table table-condensed cashflowtable">
          <thead class="bg-primary">
            <tr >
              <th colspan="3" class="visible-print text-left col-xs-12" style="font-size:80%">
		{% if orgtype=="Profit Making" %}
                  {% trans %}Profit & Loss Account{% endtrans %}
		{% else %}
		  {% trans %}Income & Expenditure Account{% endtrans %}
		{% endif %}
              </th>
            </tr>
            <tr>
              <th class="col-xs-10 text-center">{% trans %}Particulars{% endtrans %}</th>
              <th class="col-xs-2 ralign">{% trans %}Amount{% endtrans %}</th>
            </tr>
          </thead>
          <tbody>
	    <tr class="group degroup">
	      <td class="col-xs-8"> <a class="rcaccname"  href="#" style="text-decoration: none;" >DIRECT EXPENSE</a> </td>
	      <td  class="col-xs-4 text-right">{{DirectExpense["direxpbal"]}}</td>
	    </tr>
	    
	    {% if "Purchase" in DirectExpense %}
	      <tr class="subgroupofdegroup" data-numberofaccounts="{{DirectExpense["Purchase"]|length}}">
		<td class="col-xs-8 subgrouptd"><a class="rcaccname"  href="#"><span style="margin-left:3em;">PURCHASE</span></a></td>
		<td class="col-xs-4 text-right subgrouptd"><span style="margin-right:3em;">{{DirectExpense["Purchase"]["balance"]}}</span></td>
	      </tr>
	      {% for purch in DirectExpense["Purchase"] %}
		{% if purch != "balance" %}
		  <tr class="accountfield accountofsubgroupofdegroup" style="display:none">
		    <td class="col-xs-8 accounttd"><a class="rcaccname" href="#"><span style="margin-left:6em;">{{purch}}</span></a></td>
		    <td class="col-xs-4 text-right accounttd"><span style="margin-right:6em;">{{DirectExpense["Purchase"][purch]}}</span></td>
		  </tr>
		{% endif %}
	      {% endfor %}
	    {% endif %}
	    {% for subgroup in DirectExpense %}
	      {% if subgroup != "Purchase" and "balance" in DirectExpense[subgroup] %}
		<tr class="subgroupofdegroup" data-numberofaccounts="{{DirectExpense[subgroup]|length}}">
		  <td class="col-xs-8 subgrouptd"><a class="rcaccname"  href="#"><span style="margin-left:3em;">{{ subgroup|upper }}</span></a></td>
		  <td class="col-xs-4 text-right subgrouptd"><span style="margin-right:3em;">{{DirectExpense[subgroup]["balance"]}}</span></td>
		</tr>
		{% for account in DirectExpense[subgroup] %}
		  {% if account != "balance" %}
		    <tr class="accountfield accountofsubgroupofdegroup">
		      <td class="col-xs-8 accounttd"><a class="rcaccname" class="libg" href="#"><span style="margin-left:6em;">{{account}}</span></a></td>
		      <td class="col-xs-4 text-right accounttd"><span style="margin-right:6em;">{{DirectExpense[subgroup][account]}}</span></td>
		    </tr>
		  {% endif %}
		{% endfor %}
	      {% endif %}
	      
	      {% if subgroup != "Purchase" and subgroup != "direxpbal" and "balance" not in DirectExpense[subgroup] %}
		<tr class="accountfield accountofdegroup">
		  <td class="col-xs-8 accounttd"><a class="rcaccname"  href="#"><span style="margin-left:3em;">{{subgroup}}</span></a></td>
		  <td class="col-xs-4 text-right accounttd"><span style="margin-right:3em;">{{DirectExpense[subgroup]}}</span></td>
		</tr>
	      {% endif %}
	    {% endfor %}
	    {% if 'gspCF' in gross %}
	      <tr class="cl">
		<td class="col-xs-8"><a class="rcaccname accounttd text-danger" href="#" style="text-decoration: none;" >Gross profit C/F</a></td>		<td class="col-xs-4 text-right text-primary"><span style="margin-right:2em;">{{gross["gspCF"]}}</span></td>
	      </tr>
	    {% endif %}
	    <tr class="group iegroup">
	      <td class="col-xs-8"> <a class="rcaccname"  href="#" style="text-decoration: none;" >INDIRECT EXPENSE</a> </td>
	      <td  class="col-xs-4 text-right">{{InDirectExpense["indirexpbal"]}}</td>
	    </tr>
            {% for subgroup in InDirectExpense %}
	      {% if "balance" in InDirectExpense[subgroup] %}
		<tr class="subgroupofiegroup" data-numberofaccounts="{{InDirectExpense[subgroup]|length}}">
		  <td class="col-xs-8 subgrouptd"><a class="rcaccname"  href="#"><span style="margin-left:3em;">{{ subgroup|upper }}</span></a></td>
		  <td class="col-xs-4 text-right subgrouptd"><span style="margin-right:3em;">{{InDirectExpense[subgroup]["balance"]}}</span></td>
		</tr>
		{% for account in InDirectExpense[subgroup] %}
		  {% if account != "balance" %}
		    <tr class="accountfield accountofsubgroupofiegroup">
		      <td class="col-xs-8 accounttd"><a class="rcaccname"  href="#"><span style="margin-left:6em;">{{account}}</span></a></td>
		      <td class="col-xs-4 text-right accounttd"><span style="margin-right:6em;">{{InDirectExpense[subgroup][account]}}</span></td>
		    </tr>
		  {% endif %}
		{% endfor %}
	      {% endif %}
	      {% if subgroup != "indirexpbal" and "balance" not in InDirectExpense[subgroup] %}
		<tr class="accountfield accountofiegroup">
		  <td class="col-xs-8 accounttd"><a class="rcaccname"  href="#"><span style="margin-left:3em;">{{subgroup}}</span></a></td>
		  <td class="col-xs-4 text-right accouttd"><span style="margin-right:3em;">{{InDirectExpense[subgroup]}}</span></td>
		</tr>
	      {% endif %}
	    {% endfor %}
          </tbody>
	  <tfoot>
	    <tr>
	      <td class="col-xs-8">{% if net["netprofit"] %}Net Profit{% endif %}</td>
	      <td class="col-xs-4 text-right">{% if net["netprofit"] %}{{net["netprofit"]}}{% endif %}</td>
	    </tr>
	    <tr>
	      <td class="col-xs-8">Total</td>
	      <td class="col-xs-4 text-right">{{Total}}</td>
	    </tr>
	  </tfoot>
	</table>
      </div>
      <div class="table-responsive col-xs-6 nopadding" id="inctableouterdiv">
	<table id="incometbl" class="shadow table fixed-table table-condensed cashflowtable">
          <thead class="bg-primary">
            <tr >
              <th colspan="3" class="visible-print text-right col-xs-12" style="font-size:80%">
		{% trans %}Period{% endtrans %} : {{from}} {% trans %}to{% endtrans %} {{to}}
              </th>
            </tr>
            <tr>
              <th class="col-xs-10 text-center">{% trans %}Particulars{% endtrans %}</th>
              <th class="col-xs-2 ralign">{% trans %}Amount{% endtrans %}</th>
            </tr>
          </thead>
          <tbody>
            <tr class="group digroup">
	      <td class="col-xs-8"> <a class="pyaccname"  href="#" style="text-decoration: none;" >DIRECT INCOME</a> </td>
	      <td  class="col-xs-4 text-right">{{DirectIncome["dirincmbal"]}}</td>
	    </tr>
	    
	    {% if "Sales" in DirectIncome %}
	      <tr class="subgroupofdigroup" data-numberofaccounts="{{DirectIncome["Sales"]|length}}">
		<td class="col-xs-8 subgrouptd"><a class="pyaccname"  href="#"><span style="margin-left:3em;">SALES</span></a></td>
		<td class="col-xs-4 text-right subgrouptd"><span style="margin-right:3em;">{{DirectIncome["Sales"]["balance"]}}</span></td>
	      </tr>
	      {% for purch in DirectIncome["Sales"] %}
		{% if purch != "balance" %}
		  <tr class="accountfield accountofsubgroupofdigroup">
		    <td class="col-xs-8 accounttd"><a class="pyaccname"  href="#"><span style="margin-left:6em;">{{purch}}</span></a></td>
		    <td class="col-xs-4 text-right accounttd"><span style="margin-right:6em;">{{DirectIncome["Sales"][purch]}}</span></td>
		  </tr>
		{% endif %}
	      {% endfor %}
	    {% endif %}
	    {% for subgroup in DirectIncome %}
	      {% if subgroup != "Sales" and "balance" in DirectIncome[subgroup] %}
		<tr class="subgroupofdigroup" data-numberofaccounts="{{DirectIncome[subgroup]|length}}">
		  <td class="col-xs-8 subgrouptd"><a class="pyaccname"  href="#"><span style="margin-left:3em;">{{ subgroup|upper }}</span></a></td>
		  <td class="col-xs-4 text-right subgrouptd"><span style="margin-right:3em;">{{DirectIncome[subgroup]["balance"]}}</span></td>
		</tr>
		{% for account in DirectIncome[subgroup] %}
		  {% if account != "balance" %}
		    <tr class="accountfield accountofsubgroupofdigroup">
		      <td class="col-xs-8 accounttd"><a class="pyaccname"  href="#"><span style="margin-left:6em;">{{account}}</span></a></td>
		      <td class="col-xs-4 text-right accounttd"><span style="margin-right:6em;">{{DirectIncome[subgroup][account]}}</span></td>
		    </tr>
		  {% endif %}
		{% endfor %}
	      {% endif %}
	      {% if subgroup != "Sales" and subgroup != "dirincmbal" and "balance" not in DirectIncome[subgroup] %}
		<tr class="accountfield accountofdigroup">
		  <td class="col-xs-8 accounttd"><a class="pyaccname"  href="#"><span style="margin-left:3em;">{{subgroup}}</span></a></td>
		  <td class="col-xs-4 text-right accounttd"><span style="margin-right:3em;">{{DirectIncome[subgroup]}}</span></td>
		</tr>
	      {% endif %}
	    {% endfor %}
	    
	    <tr class="cl accountfield">
	      <td class="col-xs-8 accounttd"><a class="pyaccname" href="#">Closing Stock</a></td>
	      <td class="col-xs-4 text-right accounttd"><span style="margin-right:2em;">{{ClosingStock}}</span></td>
	    </tr>
	    {% if 'gslCF' in gross %}
	      <tr class="cl accountfield">
		<td class="col-xs-8"><a class="pyaccname accounttd text-danger" href="#" style="text-decoration: none;">Gross loss C/F</a></td>
		<td class="col-xs-4 text-right accounttd text-danger"><span style="margin-right:2em;">{{gross["gslCF"]}}</span></td>
	      </tr>
	    {% endif %}
	    
	    <tr class="group iigroup">
	      <td class="col-xs-8"> <a class="pyaccname"  href="#" style="text-decoration: none;" >INDIRECT INCOME</a> </td>
	      <td  class="col-xs-4 text-right">{{InDirectIncome["indirincmbal"]}}</td>
	    </tr>
	    
            {% for subgroup in InDirectIncome %}
	      {% if "balance" in InDirectIncome[subgroup] %}
		<tr class="subgroupofiigroup" data-numberofaccounts="{{InDirectIncome[subgroup]|length}}">
		  <td class="col-xs-8 subgrouptd"><a class="pyaccname"  href="#"><span style="margin-left:3em;">{{ subgroup|upper }}</span></a></td>
		  <td class="col-xs-4 text-right subgrouptd"><span style="margin-right:3em;">{{InDirectIncome[subgroup]["balance"]}}</span></td>
		</tr>
		{% for account in InDirectIncome[subgroup] %}
		  {% if account != "balance" %}
		    <tr class="accountfield accountofsubgroupofiigroup">
		      <td class="col-xs-8 accounttd"><a class="pyaccname"  href="#"><span style="margin-left:6em;">{{account}}</span></a></td>
		      <td class="col-xs-4 text-right accounttd"><span style="margin-right:6em;">{{InDirectIncome[subgroup][account]}}</span></td>
		    </tr>
		  {% endif %}
		{% endfor %}
	      {% endif %}
	      {% if subgroup != "indirincmbal" and "balance" not in InDirectIncome[subgroup] %}
		<tr class="accountfield accountofiigroup">
		  <td class="col-xs-8 accounttd"><a class="pyaccname"  href="#"><span style="margin-left:3em;">{{subgroup}}</span></a></td>
		  <td class="col-xs-4 text-right accounttd"><span style="margin-right:3em;">{{InDirectIncome[subgroup]}}</span></td>
		</tr>
	      {% endif %}
	    {% endfor %}
          </tbody>
	  <tfoot>
	    <tr>
	      <td class="col-xs-8">{% if net["netloss"] %}Net Loss{% endif %}</td>
	      <td class="col-xs-4 text-right">{% if net["netloss"] %}{{net["netloss"]}}{% endif %}</td>
	    </tr>
	    <tr>
	      <td class="col-xs-8">Total</td>
	      <td class="col-xs-4 text-right">{{Total}}</td>
	    </tr>
	  </tfoot>
	</table>
      </div>

    </div>
    <span class="hidden-print" style="margin:auto; display:table;">
      <button type="button" class="btn btn-sm btn-danger" id="pnlback" accesskey="k"><i class="fa fa-arrow-left" aria-hidden="true"></i> {% trans %}Bac<u>k</u>{% endtrans %}</button>
      <button type="button" class="btn btn-sm btn-success expandbutton" id="expandall" accesskey="e"><i class="fa fa-toggle-down" aria-hidden="true"></i> {% trans %}<u>E</u>xpand All{% endtrans %}</button>
      <button type="button" class="btn btn-sm btn-warning expandbutton" id="compress" accesskey="e"><i class="fa fa-toggle-up" aria-hidden="true"></i> {% trans %}Compr<u>e</u>ss All{% endtrans %}</button>
      <button class="btn btn-sm btn-primary" type="button"  id="print" accesskey="x"><i class="fa fa-file-excel-o" aria-hidden="true"></i> {% trans %}E<u>x</u>port to Spreadsheet{% endtrans %}</button>
      <button class="btn btn-sm btn-info" type="button"  id="printpnl" accesskey="t"><i class="fa fa-print" aria-hidden="true"></i> {% trans %}View Prin<u>t</u>able Version{% endtrans %}</button>
      <button class="btn btn-sm btn-info" type="button"  id="realprintpnl" accesskey="t"><i class="fa fa-print" aria-hidden="true"></i> {% trans %}Prin<u>t</u>{% endtrans %}</button>
    </span>
    <input type="hidden" id="ledtodate" value="{{to}}">
    <input type="hidden" id="ledfromdate" value="{{from}}">
    <script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/bootstrap-table.js')}}"></script>
    <script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/profitlossreport.js')}}"></script>
</body>
</html>
